name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: installation
      run: sudo apt install -y googletest libgtest-dev build-essential gcovr
    - name: compill unit tests
      run: make test
    - name: run unit tests
      run: ./main
    - name: make standart activate function
      run: make 
    - name: run standart activate function
      run: ./main
    - name: make bent_identity activate function
      run: make bent_identity
    - name: run bent_identity activate function
      run: ./main